@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}

.myself {
  height: 95vh;

  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.753),
      rgba(128, 128, 128, 0.747)
    ),
    url(../img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
}
.social-icons {
  padding-top: 10px;
  padding-left: 10px;
}
.social-icons img {
  width: 5.5vh;
  padding: 5px;
}
.social-icons img:hover {
  transform: rotate(20deg);
  /* width: 4.5vh; */
}
.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.myself-heading {
  color: white;
  font-size: 60px;
  /* font-family: "Maconda Swash Caps"; */
  font-family: "Pangolin", cursive;
  animation: moveright 1s;
}
.myself-para {
  color: rgb(255, 255, 255);
  font-size: 25px;
  word-spacing: 5px;

  font-family: "Open Sans", sans-serif;
  /* font-family: "Rock Salt", cursive; */
  animation: moveleft 1s;
}
@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateY(100px) rotate(180deg);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUpBtn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited {
  transition: all 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.685);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.685);
}
.btn-contactMe {
  border-radius: 100px;
  margin-top: 30px;
  background: white;
  color: gray;
  animation: moveUpBtn 0.5s ease-in-out 0.7s;
  animation-fill-mode: backwards;
}
